.plan-card {
  min-width: 300px;
  height: 800px;
  border: 2px solid #dddddd;
  background-color: white;
  border-radius: 10px;
  padding: 80px 50px 50px 50px;
  position: relative;
}

.plan-card-logo > img {
  width: 150px;
}

.plan-card-title {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0px;
  text-transform: capitalize;
}
.plan-card-points-list {
  list-style: none;
  padding: 0px 30px;
}

.plan-points {
  text-align: left;
  display: flex;
  margin-top: 10px;
  color: #4f5665;
  font-weight: 500;
  font-size: 15px;
}

.plan-points > img {
  margin-right: 20px;
}
.plan-card-bottom {
  position: absolute;
  bottom: 50px;
  width: 75%;
}

.plan-card-bottom > div {
  font-size: 30px;
  color: #4f5665;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-price {
  font-size: 30px;
  font-weight: 500;
  color: black;
}

.outlined-btn {
  border: 3px solid #f53838;
  width: 60%;
  height: 50px;
  border-radius: 30px;
  color: #f53838;
  background: transparent;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 900;
}
.plan-card:hover {
  border: 2px solid #f53838;
}

.plan-card:hover .outlined-btn {
  color: white;
  background: #f53838;
  box-shadow: 0px 20px 40px rgba(245, 56, 56, 0.35);
}
.contained-btn {
  border: 3px solid #f53838;
  letter-spacing: 1px;
  width: 60%;
  height: 50px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 900;
}

@media (max-width: 550px) {
  .plan-card {
    min-width: 100%;
    padding: 20px;
    display: grid;
    height: fit-content;
    grid-template-areas:
      "title title title"
      "img list list"
      "img list list"
      "bottom bottom bottom";
  }

  .plan-card-logo {
    grid-area: img;
    display: grid;
    place-items: center;
  }

  .plan-card-logo > img {
    width: 100px;
  }

  .plan-card-title {
    grid-area: title;
    font-size: 30px;
    font-weight: 500;
    margin: auto;
  }
  .plan-card-points-list {
    list-style: none;
    padding: 0px 30px;
    grid-area: list;
  }

  .plan-points {
    text-align: left;
    display: flex;
    margin-top: 10px;
    color: #4f5665;
    font-weight: 500;
    font-size: 15px;
  }

  .plan-points > img {
    margin-right: 20px;
  }
  .plan-card-bottom {
    grid-area: bottom;
    position: relative;
    bottom: 0px;
    width: 100%;
    display: grid;
    place-items: center;
  }

  .plan-card-bottom > div {
    margin-bottom: 20px;
  }
}
