.pricing-section {
  width: 100%;
  padding: 50px 0px;
}

.pricing-heading {
  font-size: 50px;
  font-weight: 500;
}
.pricing-description {
  margin: 30px auto;
  width: 35%;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #4f5665;
}

.pricing-cards {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
  gap: 7%;
  row-gap: 30px;
}

@media (max-width: 550px) {
  .pricing-section {
    width: 100%;
    padding: 0px 20px;
    text-align: left;
  }

  .pricing-heading {
    font-size: 35px;
  }
  .pricing-description {
    margin: 20px auto;
    width: 100%;
    font-size: 18px;
  }

  .pricing-cards {
    padding: 0px;
    margin-top: 30px;
  }
}
