.header {
  height: 80px;
  position: fixed;
  top: 0%;
  z-index: 100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}
.leftNav {
  width: 24%;
  display: grid;
  place-items: center;
}
.nav-logo {
  width: 180px;
}

.midNav {
  width: 50%;
  height: inherit;
}

.nav-list {
  width: max-content;
  height: 100%;
  display: flex;
  list-style: none;
  gap: 40px;
  margin: auto;
  padding: 0%;
  align-items: center;
  color: #4f5665;
  font-weight: 600;
}
.nav-list-item {
  cursor: pointer;
  text-decoration: none;
}
.nav-list-item:hover > .link-text {
  color: blue;
}
.link-text {
  color: black;
  transition: all 0.6s;
  text-decoration: none;
}
.active-link {
  color: #f53838;
  /* text-decoration: underline 2px solid #f53838; */
}

.rightNav {
  display: flex;
  width: 24%;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.signin-btn {
  background: transparent;
  border: none;
  width: 100px;
  height: 35px;
  cursor: pointer;
}

.signup-btn {
  background: transparent;
  border: 1px solid #f53838;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  color: #f53838;
  cursor: pointer;
}

.user_intro_div {
  width: 120px;
  text-transform: capitalize;
  position: relative;
}

.user_box {
  position: absolute;
  width: 100%;
  top: 21px;
  display: none;
}
.user_intro_div:hover .user_box {
  display: block;
}
.user_box:hover {
  display: block;
}
.user_box > ul {
  margin: 0%;
  padding: 10px;
  margin-top: 30px;
  list-style: none;
  text-align: left;
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.hamburger-icon {
  width: 200px;
  /* border: 1px solid red; */
  display: none;
  align-items: center;
  justify-items: right;
  grid-template-areas: "username hamicon";
}

.hamburger-icon > img {
  width: 30px;
  grid-area: hamicon;
}

.hamburger-icon > div {
  grid-area: username;
}

.mobile-menu-container {
  z-index: 1000;
  background: rgba(209, 7, 7, 0.6);
  position: fixed;
  width: 100%;
  text-align: left;
  margin: auto;
  color: aliceblue;
}

.mobile-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0%;
  margin: 0%;
}

.mobile-menu-list > li {
  height: 30px;
  font-weight: 600;
  font-size: 20px;
  padding-left: 50px;
}

@media (max-width: 1000px) {
  .hamburger-icon {
    display: grid;
  }
  .navbar-container {
    padding: 0px 50px;
  }
  .midNav {
    display: none;
  }
  .rightNav {
    display: none;
  }
}
@media (max-width: 550px) {
  .header {
    height: 40px;
    position: sticky;
    z-index: 100;
  }
  .navbar-container {
    padding: 0px 20px;
    height: 40px;
  }
  .nav-logo {
    width: 120px;
  }
}
